{% load static %}

{% include 'layouts/header.html' %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Producing goods to industry standards, for a reliable and better consumption experience</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Our commitment to industry standards means our products are always safe and enjoyable to use</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Discovered More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{% static 'img/reliable-banner.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <p> Chairperson Message </p>
        </header>
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h2>We Focused on reliable work and customer satisfaction, and always ready to compete and sell goods and services nationally.</h2>
              <p>
                Reliable Group is committed to achieving success as traders across the country. Despite any challenges or situations that may arise, the group remains focused and dedicated to providing reliable work that satisfies their clients and customers. They are always prepared to compete with others in their field and are eager to sell their goods and services throughout the nation. By prioritizing customer satisfaction and a strong work ethic, Reliable Group is poised for success in the trading industry.
              </p>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{% static 'img/chairperson.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->
      <!-- ======= Features Section ======= -->
      <section id="about" class="features">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <p>Discover Our Services for a Superior Experience</p>
          </header>
  
          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'img/about-bg-p.png' %}" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
              <div class="row align-self-center gy-4">
  
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="200">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h4><a href="http://reliablefoodsnepal.com/" target="_blank"> Reliable Foods & Beverage Pvt. Ltd. </a> </h4>
                  </div>
                </div>
  
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="300">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h4><a href="http://reliable-nepal.com/" target="_blank"> Reliable Nepal Export and Import Pvt. Ltd. </a> </h4>
                  </div>
                </div>
  
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="400">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h4><a href="#" target="_blank"> Reliable Lumbini Medical Centor Pvt. Ltd. </a> </h4>
                  </div>
                </div>
  
                <div class="col-md-12" data-aos="zoom-out" data-aos-delay="500">
                  <div class="feature-box d-flex align-items-center">
                    <i class="bi bi-check"></i>
                    <h4><a href="#" target="_blank"> Reliable Communications Pvt. Ltd. </a> </h4>
                  </div>
                </div>
              </div>
            </div>
  
          </div> <!-- / row -->
  
          <!-- Feature Icons -->
          <div class="row feature-icons" data-aos="fade-up">
            <h3>Sustainable Business Practice and Customer Satisfaction</h3>
  
            <div class="row">
  
              <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'img/bbadam-removebg-preview.png' %}" class="img-fluid p-4" alt="">
              </div>
  
              <div class="col-xl-8 d-flex content">
                <div class="row align-self-center gy-4">
  
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="ri-line-chart-line"></i>
                    <div>
                      <h4>We Buy</h4>
                      <p>Normally, we buy products that are of high quality with better price and hygienic for our valuable customer and consumers.</p>
                    </div>
                  </div>
  
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="ri-stack-line"></i>
                    <div>
                      <h4>We Trade</h4>
                      <p>Generally, we import and export FMCG goods of different companies with in the national and international market.</p>
                    </div>
                  </div>
  
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <i class="ri-brush-4-line"></i>
                    <div>
                      <h4>We Sell</h4>
                      <p>We sell different companies brand ,juice, energy drink,chocolate,sugar and others packages.</p>
                    </div>
                  </div>
  
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <i class="ri-magic-line"></i>
                    <div>
                      <h4>We Distribute</h4>
                      <p>We have our team who are locally associated and entrusted representatives to distribute our products in the market.</p>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div>
  
          </div><!-- End Feature Icons -->
        </div>
      </section><!-- End Features Section -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <p>Our hard working team</p>
          </header>
  
          <div class="row gy-4">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img src="{% static 'img/portfolio/finance.png' %}" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Daya Sagar Shah </h4>
                  <span>Chief Financial Officer (CFO) </span>
                  <p> Creating and implementing financial plans that align with the organization's strategic goals. </p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Team Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Sinamangal -09 Sinamangal Tower, Kathmandu</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+977-1-5911862</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>reliablegroupnepal@gmaol.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="#" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <button type="submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->
  {% include 'layouts/footer.html' %}
